body {
  background: #f6f6f6;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: #4f5665;
}

p {
  color: #4f5665;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

h1 {
  color: #0b132a;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

h2 {
  color: #0b132a;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin: 0;
}

h3 {
  color: #0b132a;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

h4 {
  color: #0b132a;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

/* Header navigation */

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 45px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.top-nav ul li {
  padding-right: 40px;
}

.sign-in {
  background-color: #f6f6f6;
  color: #0b132a;
  border: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
}

.sign-up {
  border: solid 1px;
  border-radius: 50px;
  border-color: #f53855;
  color: #f53855;
  height: 45px;
  width: 150px;
}

/* Section Hero  */

.hero {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}

.hero-info {
  width: 555px;
}

.get-started {
  border: solid 1px;
  border-radius: 10px;
  /* box-shadow: 0 15px 15px #f53838; */
  background-color: #f53838;
  color: white;
  height: 50px;
  margin-top: 50px;
  width: 250px;
}

/* Hero Users */

.hero-users {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 15px 15px gray;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  height: 200px;
}

.users-image {
  margin-left: 90px;
}

.users-image-info {
  margin-right: 130px;
}

.users-image-info-line {
  margin-left: 130px;
}

.line {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 430px;
  height: 125px;
}

/* Section Features */

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.features-info {
  margin-top: 120px;
  margin-left: 170px;
  margin-right: 130px;
  /* width: 430px; */
}

.features-info p {
  margin-top: 20px;
}

.features-info ul {
  margin-top: 20px;
  padding-left: 25px;
}

.features-info li {
  color: #4f5665;
  list-style-image: url(../img/mark.svg);
  margin-top: 15px;
}

/* section choose Plan */

.plan-info {
  text-align: center;
  margin-top: 210px;
}

.plan-info p {
  margin: auto;
  margin-top: 20px;
  width: 555px;
}

/* section price plan */

.price-plan {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  /* text-align: center; */
}

.free-plan {
  background-color: white;
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 330px;
}

.standard-plan {
  background-color: white;
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 330px;
}

.premium-plan {
  background-color: white;
  border: 2px solid #f53838;
  border-radius: 10px;
  width: 330px;
}

.price-plan .plan-image,
h4,
h3 {
  text-align: center;
}

.price-plan ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 210px;
}

.price-plan li {
  background-image: url(../img/mark.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
  color: #4f5665;
  padding-left: 30px;
  /* list-style-image: url(../img/mark.svg); */
  margin-top: 15px;
}

.plan-image {
  margin-top: 80px;
}

.price-plan h3 {
  margin-top: 30px;
}

.price-plan ul {
  margin-top: 30px;
  margin-bottom: 0;
}

.free-plan h4 {
  margin-top: 130px;
}

.standard-plan h4 {
  margin-top: 90px;
}

.premium-plan h4 {
  margin-top: 50px;
}

.free-button {
  background-color: white;
  border: solid 1px;
  border-radius: 50px;
  border-color: #f53855;
  color: #f53855;
  height: 45px;
  width: 180px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.standard-button {
  background-color: white;
  border: solid 1px;
  border-radius: 50px;
  border-color: #f53855;
  color: #f53855;
  height: 45px;
  width: 180px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.premium-button {
  background-color: #f53855;
  border: solid 1px;
  border-radius: 50px;
  color: white;
  height: 45px;
  width: 180px;
  margin-left: 70px;
  margin-bottom: 50px;
}

/* Section Global network */

.global-network {
  margin-top: 150px;
}

.network-info h2 {
  margin: auto;
  width: 384px;
  text-align: center;
}

.network-info p {
  margin: auto;
  text-align: center;
  width: 555px;
}

.map-image {
  margin-top: 160px;
  text-align: center;
}

.partners-images {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
}

/* Section Feedback */

.feedback {
  margin-top: 60px;
}

.feedback-info h2 {
  margin: auto;
  text-align: center;
  width: 448px;
}

.feedback-info p {
  margin: auto;
  text-align: center;
  width: 555px;
}

.users-feedback {
  margin-top: 60px;
}

.feedback-info p {
  margin-top: 20px;
}

/* Users */

.users-feedback {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.robert {
  width: 400px;
  border: 2px solid #f53838;
  border-radius: 10px;
}

.yessica {
  width: 400px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.kim {
  width: 400px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.customer-info {
  display: flex;
  justify-content: flex-start;
}

.customer-image {
  margin-top: 30px;
  margin-left: 30px;
}

.customer-address h3 {
  margin-top: 30px;
  margin-bottom: 0;
}
.customer-address {
  margin-left: 20px;
}

.customer-raiting {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-right: 30px;
}

blockquote {
  line-height: 30px;
  width: 340px;
}

/* Feedback Buttons */

.feedback-buttons {
  text-align: right;
  margin-top: 60px;
  margin-right: 100px;
}

.previous {
  background-color: white;
  color: #f53838;
  border: 2px solid #f53838;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.next {
  background-color: #f53838;
  color: white;
  border: 2px solid #f53838;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/* Section Subscribe Now  */

.subscribe {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  height: 233px;
  width: 1140px;
}

.subscribe-info {
  margin-top: 58px;
  margin-left: 70px;
  width: 370px;
}

.subscribe-button-location {
  margin-top: 85px;
  margin-right: 70px;
}

.subscribe-button {
  background: #f53838;
  border: 1px solid #f53838;
  border-radius: 10px;
  color: white;
  height: 60px;
  width: 250px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin-bottom: 100px;
}

footer h3,
h4,
p {
  text-align: left;
}

.footer-info p {
  margin-top: 20px;
}

.footer-nav ul {
  list-style: none;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.footer-info {
  margin-left: 150px;
  width: 340px;
}

.footer-menu {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  margin-right: 150px;
}
